<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page['page_title'] }}</title>
</head>
<body>
    <h1>{{ page['main_heading'] }}</h1>
    <p>I'm Nathan, sem 4. This is tutorial 4 and this is my second year at Dawson</p>
</body>
</html>