<html land="en">
    <head>
        <title>{{ page['page_title'] }}</title>
    </head>
    <body>
        <h1>{{ page['main_heading'] }}</h1>
        <nav>
            <ul>
                <li><a href="/home">home</a></li>
                <li><a href="/main.list_all_posts">list posts</a></li>
                <li><a href="{{url_for ('main.about')}}">about</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{url_for ('auth.about')}}">Profile</a></li>
                    <li><a href="{{url_for ('auth.about')}}">New Post</a></li>
                    <li><a href="{{url_for ('auth.about')}}">Log Out</a></li>
                {% else %}
                    <li><a href="{{url_for ('auth.about')}}">Log In</a></li>
            </ul>
        </nav>
    </body>
</html>