<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page['page_title'] }}</title>
</head>
<body>
    <h1>{{ page['main_heading'] }}</h1>
    <nav>
        <ul>
            <li><a href="/home">home</a></li>
            <li><a href="/main.list_all_posts">list posts</a></li>
            <li><a href="{{url_for ('main.about')}}">about</a></li>
        </ul>
    </nav>
</body>
<footer>
    Nathan, winter 2024
</footer>
</html>