<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page['page_title'] }}</title>
</head>
<body>
    <h1>{{ page['main_heading'] }}</h1>
    <ul>
        {% for post in posts %}
        <section>
            <li>author: {{post['author']}}</li>
            <li>title: {{post['title']}}</li>
            <li>content: {{post['content']}}</li>
        </section>
        {% endfor %}
    </ul>
</body>
</html>